/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #FFCC00;
}
pre {
  background-color: darkslategray;
  color: coral;
  font-weight: bold;
}

#kinlogo {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 5%;
  height: 5%;
}

#kinheader {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.glitchButton {
  float: right;
}

#kinavatar {
  position: absolute;
  top: 0;
  left: 10%;
  display: inline-block;
  background-color: white;
}

#kinwelcome {
  display: inline-block;
  float: left;
  color: white;
  padding-left: 20%;
  font-size: 8mm;
  font-weight: bold;
}

#kincontenido {
  margin-top: 5em;
  display: inline-block;
  width: 95%;
  word-wrap: break-word;
  float: left;
}

.button {
  border: solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 5mm;
  width: 80%;
}

.button:hover {
  background-color: white;
  color: coral;
}

#salida {
  width: 100%;
}

button {
  background-color: #29abe0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
